<app-expandable-table
  [dataSource]="friendList"
  [columnsToDisplay]="['name', 'age', 'hobby']"
></app-expandable-table>

<!-- <mat-accordion *ngFor="let f of friendList; let i = index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Name: {{ f.name }}</mat-panel-title>
      <mat-panel-description
        >Alter: {{ f.age }} Jahre alt</mat-panel-description
      >
    </mat-expansion-panel-header>
    {{ f.name }} ist ein {{ f.age }} jähriges Mädchen. Ihr Hobby ist
    {{ f.hobby }}.
  </mat-expansion-panel>
</mat-accordion> -->
<!-- <table mat-table [dataSource]="friendList" multipleTemplateDataRow>
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let friend">{{ friend[column] }}</td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="column.length">
      This is the expanded details.
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="column"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: column"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr mat-row class="example-detail-row"></tr>
</table> -->
